@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<div class="container bg-light justify-content-center ">
    <p class="mt-5 display-6 "> Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Agenda" asp-action="MostraAgenda"> Clique aqui para voltar para home</a></p>
</div>