@model PacienteModel
@{
    ViewData["Title"] = "Confirmação de apagar Paciente";
}

<div class=" bg-white mt-5  text-center p-5 rounded-3"> 
    <h1 class="m-5"> Deseja realmente apagar o paciente (@Model.Nome)?</h1>

    <a class="btn btn-danger btn-center" role="button" asp-controller="Paciente" asp-action="Apagar" asp-route-id="@Model.Id" >Apagar</a>
    <a class="btn btn-warning btn-center" role="button" asp-controller="Paciente" asp-action="Editar" asp-route-id="@Model.Id">Cancelar</a>
</div>